beautifulsoup4==4.4.1
chardet==2.3.0
click==6.7
Flask==0.12.2
gunicorn==19.7.1
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.5.0
MarkupSafe==1.0
psutil==3.4.2
pygobject==3.20.0
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.12.2
